<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>

    <link rel="stylesheet" type="text/css" href="/style.css"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>
<body>
<header><div class="sub">
    <div class="Logo_and_title">
        <div class="logo">
            <img src="/img/logo.svg">
        </div>
        <div class="titles">
            <h1>Skadi FIS leaderbord</h1>
            <h2>Global list of best skiers in Skadi FIS ski resorts</h2>
        </div>
    </div>
    <div class="resort">
        <div class="select" style="display: none;">
            <div class="item" id="0" onclick="resortCheck(this)" >All resorts</div>
            {{{ResortList}}}
        </div>
        <div class="left">
            {{{CurrentResort}}}
        </div>
        <div class="right" onclick="resortListToggle()">
        <img src="/img/mount.svg" alt="">
        </div>
    </div>
    <div class="topmenu">
        {{{TopMenuView}}}
    </div>
</div>
</header>
<main>
    <div class="selected_list_fullscreen">
        {{{FSPlayersListView}}}
    </div>
</main>
<footer>
    Be part of the global skiing leaderboard, download Skadi FIS now
    <div class="links">
        <div class="tit">Skadi FIS app</div>
        <div class="appstore"><img src="/img/appstore.png" alt="appstore"/> </div>
        <div class="playmarket"><img src="/img/playmarket.png" alt="playmarket"/> </div>
        <div class="link">www.skadi.guide</div>
    </div>
</footer>
<div id="p_prldr">
    <div class="contpre">
        <span class="svg_anm"></span>
        <br>Подождите<br>
        <small>идет загрузка</small>
    </div>

</div>

</body>
</html>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>
    let period = '{{{period}}}';
    let competitionId = '{{{competitionId}}}';
    let resort = '{{{resort}}}';
    const cats = `{{{tabs}}}`;
    const refreshTimeout = {{{refreshTimeout}}};
    let idList = '[{{{idList}}}]';
    try { idList = JSON.parse(idList) } catch(e){console.log(e);}
    let idListlink = idList.join('_');

    let keys=[]

    $( document ).ready(function() {
        keydownHandlier();
        autorefresh_start();
    });

    function autorefresh_start() {
        let timer = setInterval(function() {
            asyncStartGetplayerslistJSON();
        }, refreshTimeout);
    }
    function keydownHandlier() {
        $(document).keydown(function(e){
            let code = e.which;
            if (keys.indexOf(code)<0){keys.push(code);}
            if (
                    (keys[0] === 17 && keys[1] === 13) ||
                    (keys[1] === 17 && keys[0] === 13) ||

                    (keys[0] === 18 && keys[1] === 13) ||
                    (keys[1] === 18 && keys[0] === 13) ||

                    (keys[0] === 93 && keys[1] === 13) ||
                    (keys[1] === 93 && keys[0] === 13) ||

                    (keys[0] === 91 && keys[1] === 13) ||
                    (keys[1] === 91 && keys[0] === 13)
            ) {
                toPreviousPageType()
            }
            setTimeout(()=>keys=[], 300);
        });
    }

    function validateDatetoStr(targetDate){
        let str ='' + targetDate.getFullYear()+'-';
        if ( (targetDate.getMonth()+1) >9 ) str+=(targetDate.getMonth()+1)+'-';
        else str+='0'+(targetDate.getMonth()+1)+'-';
        if (targetDate.getDate()>9 ) str+=targetDate.getDate();
        else str+='0'+targetDate.getDate();
        return str;
    }
    function getStrDate(type) {
        let targetDate = new Date();
        if (type === 0) {
            // Obtaining today's date.
            return validateDatetoStr(targetDate);
        }
        if (type === 1) {
            // Obtaining last sunday date.
            targetDate.setDate(targetDate.getDate() - (targetDate.getDay() + 7) % 7);
            return validateDatetoStr(targetDate);
        }
        if (type === 3) {
            // Obtaining 1.08 of the last year.
            return (targetDate.getMonth()>=8) ? targetDate.getFullYear()+'-08-01' : targetDate.getFullYear()-1+'-08-01';
        }
    }


    function buildplayerslisbyJSON(json) {
        let tabs, obj,str = '';
        obj = json
        // try { obj = JSON.parse(json) } catch(e){console.log(json); console.log('___',e);}
        try { tabs = JSON.parse(cats) } catch(e){console.log(e);}
        for(let i in obj){
            for (let j in tabs)
                if (idList[i]==tabs[j].tabId)
                    str+=getPlayerColumnView( obj[i] , tabs[j] )
        }
        $('.selected_list_fullscreen').html(str);
        // console.log(str);
    }

    function getPlayerColumnView(obj, column_info) {
        let str = `
        <div class="column">
            <div class="pic"><img src="/img/f_${column_info.tabIcon}" alt="${column_info.tabname}"/> </div>
            <div class="tit" style="color: ${column_info.color};">${column_info.tabname}</div>
            <div class="list">`;
        let n=0;
        for(let i in obj){
            n++;
            str+=getPlayerRowView( obj[i] , column_info.units_in_line, n)
        }
        str +=
                `<div class="more">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
            </div>
        </div>`;
        return str;
    }
    function getPlayerRowView(obj, units, id) {
        return `
        <div class="item">
            <div class="num">${id}</div>
            <!--<div class="pic"><img src="img/pic.png" alt=""></div>-->
            <div class="name">${obj.fbUserName}</div>
            <div class="dist">${ obj.criterion +' '+units }</div>
        </div>`
    }
    function resortCheck(el) {
        resort = $(el).attr('id');
        window.history.pushState(null, null, "/fs_list/"+period+'/'+idListlink+'/'+resort+'/');
        let str =''
        if ($(el).children('.name').text()!=='')
            str = $(el).children('.name').text() +':'+ $(el).children('.subAreas').text()
        setCurrentResort( str  );
        asyncStartGetplayerslistJSON();
        resortListToggle();
    }
    function setCurrentResort(str){
        $('.resort .left').html(str);
    }
    async function asyncStartGetplayerslistJSON () {
        let url = location.pathname.substr(1);;
        let k = url.indexOf('/');

        return await fetch('/fs_json'+url.substr(k))
                .then((res)=> {return res.json();})
                .then((res)=> {buildplayerslisbyJSON(res);})
                .catch( (e)=> {
                    console.log('api error in fetch');
                    console.log(e);
                    return 'error'
                } )
    }

    function getResortFromUrl(){
        let str = location.pathname
        let l = str.length;
        if (str[l-1]==='/') str = str.substr(0, l-1);
        return str.substr(0, str.lastIndexOf('/')+1 ) ;
    }


    function resortListToggle() {
        $('.resort .select').toggle();
    }

    function toPreviousPageType() {
        window.location = getCookie('lasturl');
    }
</script>

<script type="text/javascript">
    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }
    function preloadImages()
    {
        for(var i = 0; i<arguments.length; i++)
            $("<img />").attr("src", "/"+arguments[i]);
    }
    preloadImages("img/bg.jpg","img/distance.svg","img/distance_active.svg","img/maxspeed.svg","img/maxspeed_active.svg","img/time.svg","img/time_active.svg");
    preloadImages("img/p_distance.svg","img/p_distance_active.svg","img/p_maxspeed.svg","img/p_maxspeed_active.svg","img/p_time.svg","img/p_time_active.svg");
</script>
<script type="text/javascript">$(window).on('load', function () {
    var $preloader = $('#p_prldr'),
            $svg_anm   = $preloader.find('.svg_anm');
    $svg_anm.fadeOut();
    $preloader.delay(300).fadeOut('slow');
});</script>

<script type="text/javascript" src="/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#awards_slider').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 8,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1020,
                    settings: {
                        slidesToShow: 6,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 720,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 1,
                    }
                },
                {
                    breakpoint: 540,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                    }
                },
            ]
        });
    });
</script>